<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">
{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
{% endif %}

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-pnZeeQYd2HZf4DqfCV5pU4n6o2fgC1K7q8o7JZfC7P7kVz0t5+OjXxyEU44IV5MgWmJXqR3kp8RMGQmN4hBtJQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XV1VRET334"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XV1VRET334');
</script>
